@use "sass:meta";
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

@include meta.load-css("user/login-requirement");
@include meta.load-css("user/logout-button");
@include meta.load-css("concept/concept");
@include meta.load-css("event/event");
@include meta.load-css("scene/scene");

.feature[data-feature-name=app--site_switcher] {
  select {
    font-size: 1.5rem;
  }
}



.feature[data-feature-name=app--aggregate_features] {
  position: absolute;
  top: 0;
  right: 1rem;
}

.feature[data-feature-name=app--state] {
  position: absolute;
  top: 0;
  left: 1rem;
}
