.footer {
  background-color: var(--page-background-color--dark);
  border-top: thick solid var(--page-background-color--dark-border);
  color: #f0e5d8;
  padding: 2rem 1rem;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }



  .footer-text {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}
